    <footer class="footer">
      <div class="container">
        <div class="row">
          <!--
              See https://scotch.io/tutorials/reorder-css-columns-using-bootstrap
              for details about columns order
          -->
          <div class="col-md-3 col-sm-6 col-xs-6">
            <ul>
              <li><a href="/license.html">IKATS license</a></li>
              <li><a href="/thirdparty.html">Website third party resources</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-md-push-6 col-sm-6 col-xs-6">
            <p class="sponsor">IKATS is sponsored by<br/><a href="http://www.c-s.fr/">CS Systèmes d'Information</a></p>
          </div>

          <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12">
            <div id="footerCopyright">
              <p>Copyright &copy; 2017 <a href="http://www.c-s.fr/">CS Systèmes d'Information</a><br>
              <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="CC By 3.0 logo" src="/img/cc-by-3.0-80x15.png"/></a>
              Except where otherwise noted, the IKATS web pages are released under
              <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a><br/>
              Last modified: {% if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}</p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
